<nav>
    <div class="navbar">
        <div class="logos left-logos">
            <img src="user/images/NDMA Logo.png" alt="Logo 1" class="logo">
            <img src="user/images/G20_Logo.jpg" alt="Logo 2" class="logo">
        </div>
        <h1>NATIONAL DISASTER MANAGEMENT AUTHORITY</h1>
        <div class="logos right-logos">
            <img src="user/images/emblem-dark.png" alt="Logo 3" class="logo">
            <img src="user/images/azadi_logo.png" alt="Logo 4" class="logo">
        </div>
    </div>
    
    <!-- Your content goes here -->
    <div class="navbar2">
        <a href="/" class="nav-link">HOME</a>
        <a href="/about" class="nav-link">ABOUT</a>
        <a href="/contact" class="nav-link">CONTACTS</a>
        <a href="https://ndma.gov.in/sites/default/files/PDF/Technical%20Documents/NDMA-Module-1.pdf" class="nav-link">DOCUMENTATION</a>
        <a href="/do&dont" class="nav-link">DOS AND DON'TS</a>
    </div>
    </nav>