<% layout('layout/boilerplate') %>

    <div class="slideshow-container"></div>
    <div class="about-us-section">
      <div class="about-us-content">
          <h2>About Us</h2>
          <p>Welcome to our website! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac urna eu felis dapibus condimentum sit amet a odio. Integer convallis, ligula vel aliquam dapibus, lacus nulla fermentum nisi, sit amet sagittis elit quam vel turpis.</p>
          <p>Our mission is to provide quality products/services and exceed customer expectations. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan dolor sit amet mi fermentum varius. Proin auctor auctor augue, non fermentum felis hendrerit vel.</p>
          <p>Meet our dedicated team of professionals who work tirelessly to achieve our goals and deliver outstanding results to our clients.</p>
      </div>
      <div class="image-section">
          <div class="image-card">
              <img src="user/images/Akash-SAM-on-t-72.jpg" alt="Person 1">
              <p>Description 1</p>
          </div>
          <div class="image-card">
              <img src="user/images/geotargeted.png" alt="Person 2">
              <p>Description 2</p>
          </div>
          <div class="image-card">
              <img src="user/images/multi-min (1).png" alt="Person 3">
              <p>Description 3</p>
          </div>
          <div class="image-card">
              <img src="user/images/alertt.jpg" alt="Person 4">
              <p>Description 4</p>