<% layout('layout/boilerplate') %>
    <h1>Contact Us</h1>

    <div class="contact-info">
        <h2>Emergency Numbers</h2>
        <ul>
            <li>Emergency Hotline: <a href="tel:911">911</a></li>
            <li>Police: <a href="tel:112">112</a></li>
            <li>Ambulance: <a href="tel:999">999</a></li>
            <li>Fire Department: <a href="tel:123">123</a></li>
            <li>Disaster Management Office Control Room: <a href="tel:+123456789">+1 (234) 567-89</a></li>
            <li>Non-Emergency Helpline: <a href="tel:311">311</a></li>
        </ul>
        <h2>Email</h2>
        <p>Email: <a href="mailto:info@yourorganization.com">info@yourorganization.com</a></p>
        <h2>Address</h2>
        <p>Your Organization Disaster Management Office<br>
            123 Main Street, Cityville<br>
            Country, Zip Code</p>
    </div>

    <div class="social-media">
        <h2>Connect with Us</h2>
        <p>Follow us on social media for updates and information:</p>
        <a href="https://www.facebook.com/yourorganization" target="_blank" class="social-icon"><img src="user/images/fb_1695273515215_1695273522698.avif" alt="Facebook"></a>
        <a href="https://www.instagram.com/yourorganization" target="_blank" class="social-icon"><img src="user/images/insta.jpg" alt="Instagram"></a>
        <a href="https://twitter.com/yourorganization" target="_blank" class="social-icon"><img src="user/images/Logo_Twitter.png" alt="Twitter"></a>
    </div>


