<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Management</title>
    <!-- Add this in your HTML head section -->
   <!-- Add this in your HTML head section -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<!-- Include Leaflet Routing Machine CSS and JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <link rel="stylesheet" href="/user/css/index.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

